@{
    Layout = "";
}

<div id="body">
    <ul>
        <li><a href="/API/World">API/World</a></li>
        <li><a href="/API/World/1">API/World/1</a> - Good Request</li>
        <li><a href="/API/World/100">API/World/100</a> - Bad Request</li>
    </ul>
</div>